﻿@model ContosoUniversity.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>
    <div class="display-label">
        @Html.LabelFor(model => model.CourseID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseID)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Credits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Credits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
