﻿@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>Enrollment Date</th>
        <th>Students</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@String.Format("{0:d}", item.EnrollmentDate)</td>
            <td>@item.StudentCount</td>
        </tr>
    }
</table>